* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 1rem 0.5rem;
  background-color: gold;
  text-align: center;
}

.main {
  height: 50vh;
  width: 40vw;
  border: 2rem solid;
  margin: 2rem 1rem;
  font-style: italic;
  display: inline-block;
  border-radius: 25px;
  border-style: groove;
  border-color: yellow;
  text-align: center;
}
